* {
font-family:"Rubik", sans-serif;
margin:0;
padding:0;
color:#393c41;
box-sizing:border-box;
  
}

body{
  width: 100%; 
  overflow-x:hidden;
}

.logo{
  display:inline-block;
  color: black;
  
  font-family:"pacifico", cursive ;
}

span{
  font-family:"pacifico", cursive ;
  color: orange;
  
  
}
/* shop new women men box */
/* .nav{
  display: flex;
  justify-content:space-between;

  padding: 10px;
  cursor: pointer;
  text-decoration: none; 
} */

/* shop new women men */
.nav a{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}

/* .links{
  
} */

#all{
  font-size: 25px;
}
.card{
  border: 1px brown solid;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  
}

/* .img{
  background-color: aqua;
  width: 300px;
  height:300px;
  border-radius: 90px;
  object-fit:cover;
} */
/* .container{
  background-color: blue;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-gap: 20px;
  justify-content: center;
} */

@keyframes animateDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
}
}